<a href="https://colab.research.google.com/github/shash-2468/first/blob/main/ML_Assgn1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
columns = ['Age','Sex','Chest Pain Type','Resting BP','Serum Cholestoral',
           'Fasting Blood Sugar','Resting ECG Results','Max Heart Rate',
           'Exe Induced Angina','Oldpeak','Slope of the peak exercise ST segment',
           'No of major vessels colored by flourosopy','thal','Y']

In [ ]:
data = pd.read_csv('heart.dat',sep=' ',header=None,names=columns)

In [ ]:
data.head()

    Age  Sex  ...  thal  Y
0  70.0  1.0  ...   3.0  2
1  67.0  0.0  ...   7.0  1
2  57.0  1.0  ...   7.0  2
3  64.0  1.0  ...   7.0  1
4  74.0  0.0  ...   3.0  1

[5 rows x 14 columns]

In [ ]:
type(data.iloc[0])

pandas.core.series.Series

In [ ]:
from random import seed
from random import randint
seed(1)
def split_80_20(data):
  l = len(data)
  req = .2 * l 
  test = set()
  while True:
    if (len(test) == req):
      break
    value = randint(0,l-1)
    test.add(data.iloc[value])
  return df

In [ ]:
dcopy = data.copy()
test_data = split_80_20(dcopy)

TypeError: ignored

In [ ]:
class DecisionTree:
    def __init__():
    
    def build_tree();


    def print_tree():

In [ ]:
class Node:
    def __init__():